#cart-page {
    padding: 40px 10px;
}

#cart-page h1 {
    margin-bottom: 20px;
}

#cart-items-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
}

.item-cart-row.header {
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.item-cart-row {
    display: flex;
}

.item-cart-row > .title {
    width: 60%;
    text-align: left;
}

.item-cart-row > .quantity {
    width: 10%;
}

.item-cart-row > .price {
    width: 10%;
}

.item-cart-row > .controls {
    width: 10%;
}

.item-cart-row > .subtotal {
    width: 10%;
}

.item-cart-row:not(.header) {
    padding: 5px 0;
}

.item-cart-row:not(.header):nth-child(odd){
    background-color: rgb(247, 247, 247);

}   

#cart-checkout-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#cart-checkout-wrapper input {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.order-success {
    display: inline-block;
    background-color: #63db63;
    color: white;
    padding: 10px 20px;
}

.form-error {
    max-width: 500px;
    text-align: left;
    display: none;
    background-color: red;
    padding: 5px 10px;
    color: white;
    margin: auto;
    margin-bottom: 15px;
}