article.single-product {
    display: flex;
}

article.single-product div.image {
    width: 30%;
    background-color: white;
    padding: 20px;
}

article.single-product div.image img {
    display: block;
    width: 100%;
}

article.single-product div.data {
    width: 70%;
    text-align: left;
    padding-left: 40px;
}